.title {
    text-align: center;
    padding: 5px;  
}
.frame {
    margin: auto;
    width: 70vw;
    height: 80vh;
    border: 3px solid #73AD21;
    padding: 10px;
}
.movement-frame {
    height: 5%;
    width: 100%;
    border: 3px solid blue;
}
.frame {
    margin: auto;
    width: 70vw;
    height: 80vh;
    border: 3px solid #73AD21;
    padding: 10px;
}
#bullets_enemies{
            height: 768px;
            width: 1364px;
            position: absolute;
}
.bullet_player{
    background-image: url('Resources/player_bullet.png');
    height: 25px;
    width: 19px;
    position: absolute;
}
#bullets_player{
    height: 768px;
    width: 1364px;
    position: absolute;
}
.bullet_enemies{
    background-image: url('Resources/enemies_bullet.png');
    height: 30px;
    width: 16px;
    position: absolute;
}
.wall-frame{
    height: 20%;
    border: 3px solid red;
    bottom: 0;
    width: 100%;
}
.wall{
    background-color: green;
    width: 11%;
    float: left;
    height: 100%;
    margin-left: 7%;
    margin-right: 7%
}
.wall-part{
    background-color: gray;
    width: 25%;
    height: 25%;
    float: left;
}
.enemy-frame{
    height: 70%;
    border: 3px solid grey;
    width: 100%;
}